In [1]:
# Import libraries
import numpy as np
import pandas as pd

# Display all columns
pd.set_option('display.max_columns', None)

# Import Houseprice data from GitHub
data = pd.read_csv('https://github.com/jurand71/datasets/raw/master/HouseSalePriceCompetition/houseprice.csv')

In [2]:
# Three variables were chosen from categorical variables for OneHotEncoder
usecols = ['Neighborhood','Exterior1st','Exterior2nd']
data = data[usecols]

In [3]:
# How many categories are in selected variables
for col in usecols:
    print(col,': ',len(data[col].unique()))

Neighborhood :  25
Exterior1st :  15
Exterior2nd :  16

In [4]:
# Obtain counts for each variable and replace categories by number of counts 
def count_encoding(df, variable):
        count_map = df[variable].value_counts().to_dict()  
        df[variable]=df[variable].map(count_map)

for var in usecols:
    count_encoding(data, var)

In [5]:
data

      Neighborhood  Exterior1st  Exterior2nd
0              150          515          504
1               11          220          214
2              150          515          504
3               51          206           38
4               41          515          504
...            ...          ...          ...
1455            79          515          504
1456            73          108          142
1457            51           61           60
1458           225          220          214
1459           100          222          207

[1460 rows x 3 columns]